SERVER_PORT=8888
CONFIG_SERVER_USERNAME=config-user
CONFIG_SERVER_PASSWORD=change-this-before-deploy
CONFIG_GIT_URI=https://github.com/Team-AnI/A-AND-I-CONFIG-REPOSITORY
CONFIG_GIT_DEFAULT_LABEL=main
CONFIG_GIT_CLONE_ON_START=true
CONFIG_GIT_TIMEOUT=5
AWS_REGION=ap-northeast-2
CONFIG_AWS_SECRETS_PREFIX=/a-and-i
